body
{
  color: rgb(0, 0, 0);
  background: #6a226b;
}
span
{
  font-size: 30px;
}
#pic ,#captured
{
  border: 3px ridge rgb(0, 255, 208);
  width: 350px;
  height: 250px; 
}
#em ,#ej  
{
  color: black;
}
.emotions
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading{
  width:50%;
  font-weight: bolder;
  font-size:25px;
  letter-spacing: 2px;
}
#capture,#predict{
  background-color:aquamarine;
  font-family: waltograph;
  font-size: 55px;
}
label{
  background-color: aqua;
  border-radius: 20px;
  height:30px;
  width:100px;

}